@import url('./theme.css');
@import url('./tradutor.css');
@import url('./skills.css');
@import url('./tituloCursor.css');
@import url('./icon.css');
@import url('./footer.css');
@import url('./efeito.css');


body {
  background-color: #f8f8f9;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.inicio{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}


.curriculo a {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid;
  border-radius: 5px;
  transition: background-color 0.3s;
  max-width: 100%;
  box-sizing: border-box;
}

.curriculo a:hover {
  background-color: #887ffc;
  color: #ffffff;
  text-decoration: none;
  border: none;
  box-shadow: #282828;
}

.grid-container p {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
  box-sizing: border-box;
  text-align: justify;
  

}


.containerProjetos {
  display: flex;
  justify-content: center; 
  align-items: center; 
}

#projeto-imagem {
  width: 100%;
  justify-self: center; 
  align-self: center;
  height: auto;
  filter: grayscale(0);
  /* Inicialmente sem filtro preto e branco */
  transition: filter 0.3s ease-in-out;
}

.colRight {
  max-width: 500px;
  text-align: left;
  font-weight: 200;
  margin: 0;
  line-height: 18pt;
  letter-spacing: 0.5px;
  color: #282828;
  font-family: "Nanum Gothic", sans-serif;
  text-wrap: wrap;
  font-size: 1rem;
}

#projeto-imagem:hover {
  filter: grayscale(100%);
  /* Aplica filtro preto e branco ao passar o mouse */
}

.colCenter {
  padding: 50px;
}



@media only screen and (max-width: 500px) {
  .container {
    grid-template-columns: 1fr;
  }

  .grid-container svg {
    display: none;
  }

  .grid-container p {
    display: grid;
    grid-template-columns: 1fr;
  }

  .containerProjetos {
    display: grid;
    grid-template-columns: 1fr;
  }

  .colRight {
    margin-left: 30px;
  }

  .inicio p,
  h2 {
    grid-template-columns: 1fr;
    text-align: left;
  }

  .containerSkill, .habilidadeTitulo {
    display: grid;
    grid-template-columns: 1fr;
  }

  .icon {
    grid-template-columns: 1fr;
  }
}

.ContainerFooter {
  margin-top: 30px;
  padding: 10px;
}